<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <%- include('./partials/link') %>
    <title>Add Blogs</title>
</head>
<body>
    <% if(locals.username){ %>
        <%- include('./partials/nav', {username}) %>
    <% }else { %>
        <%- include('./partials/nav') %>
    <% } %>
    <div class="container">
        <div class="box">
            <form method="POST" action="/blogs/add">
                <select name="type">
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
                <div class="field">
                    <label for="title">Title</label>
                    <input type="text" name="title" placeholder="Nodejs">
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea name="description" name="description" id="description" rows="6"></textarea>
                </div>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
    <%- include('./partials/script') %>
</body>
</html>