<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <%- include('./partials/link') %>
    <title>Add Blogs</title>
</head>
<body>
    <%- include('./partials/nav', {username}) %>
    <div class="container">
        <div class="box">
            <ol>
                
            </ol>
        </div>
    </div>
    <%- include('./partials/script') %>
</body>
</html>