<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/LoginSignup.css">
    <title>Login user</title>
</head>
<body>
    <div class="body">
        <div class="container">
            <h1>User login</h1>
            <form Method="POST" action="/login">
                <div class="field">
                    <label for="username">Username</label>
                    <input name="username" type="text" placeholder="example123">
                    <% if (locals.error?.notfound) { %>
                        <p class="error"><%= locals.error.notfound%></p>
                    <% } %>
                </div>
                <div class="field">
                    <label for="password">Password</label>
                    <input name="password" type="password">
                    <% if (locals.error?.wrongpassword) { %>
                        <p class="error"><%= locals.error.wrongpassword%></p>
                    <% } %>
                </div>
                <button type="submit">Login</button>
            </form>
            <p class="anchor">New user <a href="/signup">Signup</a></p>
        </div>
    </div>
</body>
</html>